body {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
input, label {
  font-size: 1.5em;
}
input[disabled] {
  background-color: white;
  color: black;
}
.img {
  padding: 2em;
  display: flex;
  justify-content: center;
}
img {
  max-width: 25vw;
}
#adu-calculator {
  padding: 2em;
}
.field-group, .output {
  display: flex;
  flex-wrap: wrap;
}
.field-group label, .output label {
  display: block;
  flex: 1 0 100%;
}
.field-group input[type=range] {
  display: inline-block;
  flex: 1 1 60%;
}
.field-group input[type=number] {
  display: inline-block;
  flex: 1 1 20%;
}
.output {
  padding: 2em;
  margin: 1em;
  outline: 1px solid black;
  justify-content: center;
  text-align: center;
}